#tap-to-place {
    width: 200px;
    height: 200px;
    background: white;
    color: black;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
} 
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
}
.btn {
    margin-top: 20px;
    border-radius: 50%;
    background: white;
    color: black;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-text, .right-text {
    flex: 1;
    text-align: center;
    cursor: pointer;
}
.selected-text {
    font-weight: bold;
    color: rgb(255, 0, 179);
}

.snapshot-container {
    position: absolute;
    bottom: 20px;
    width:100%;
    display: flex;
    justify-content: center;
}
.btn:hover{
    background: red;
}
.btn:active {
    background-color: grey;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
